<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello <%= "world" %>!</title>
</head>
<body>

  <header>
    <% if true %>
    <h1>Hello world! foo</h1>
    <% end %>
  </header>

  <main>
    <h2>Hello world!</h2>
    <ul>
      <li><button>Hello world!</button></li>
      <li><button>Hello world!</button></li>
      <li><button>Hello world!</button></li>
    </ul>
  </main>

  <footer>
  </footer>
</body>
</html>
