<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
  >
  <title>Hello <%= "world" %>!</title>
<style>
  @media (min-width: 768px) {
    body > header,
    body > main,
    body > footer {
      max-width: 700px;
    }
  }

  html {
    height: 100%;
  }

  body {
    text-align: center;
    background: linear-gradient(to bottom right, #20202F, #000000);
    background-attachment: fixed;
  }

  ul.main {
    padding: 0;

    & li {
      list-style: none;

      & button {
        width: 100%;
      }
    }
  }
</style>
</head>
<body>

  <header>
    <% if true %>
    <h1>Hello world! foo</h1>
    <% end %>
  </header>

  <main>
    <h2>Hello world!</h2>
    <ul class="main">
      <li><button>Hello world!</button></li>
      <li><button>Hello world!</button></li>
      <li><button>Hello world!</button></li>
    </ul>
  </main>

  <footer>
  </footer>
</body>
</html>
